build/
install/
log/
*.mcap
*.db3
__pycache__/
*.pyc
.vscode/
.idea/
src/openarm_ros2/
src/openarm_description/
src/openarm_mujoco/
bags/
.cache
compile_commands.json
compile_commands.json.tmp
MUJOCO_LOG.TXT
src/.venv
*.gv
*.pdf

sessions/